name: Publish Ansible Collection to Galaxy

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    name: Publish to Ansible Galaxy
    uses: ansible/ansible-content-actions/.github/workflows/release_galaxy.yaml@main
    with:
      environment: release
    secrets:
      ansible_galaxy_api_key: '${{ secrets.GALAXY_API_KEY }}'
